  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  a,
  a:hover {
      text-decoration: none;
      color: #000;
  }

  ul,
  ol {
      list-style: none;

  }

  li {
      display: inline-block;
  }

  /* Slider Start */
  #SliderPart {
      padding: 30px 0px 700px;
      background: #fff;
  }

  #SliderPart h1 {
      text-align: center;
      padding-bottom: 10px;
      color: #000;
  }

  .overly {
      background: rgba(0, 0, 0, 0.5);
      height: 450px;
  }

  .slider01 {
      background: url(../images/01.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .slider02 {
      background: url(../images/02.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .slider03 {
      background: url(../images/03.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .prev {
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 40px;
      color: #fff;
      z-index: 99;
      cursor: pointer;
      margin-left: 10px;
  }

  .next {
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 40px;
      color: #fff;
      z-index: 99;
      cursor: pointer;
      margin-right: 10px;
  }

  .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .slick-dots button {
      font-size: 0;
      border: none;
      height: 12.5px;
      width: 12.5px;
      border-radius: 100%;
      background: #98D2C0;
      text-align: center;
      margin-right: 7px;

  }

  /* Slider End */

  /* BactoTop End */
  .bactoTop svg {
      width: 40px;
      height: 40px;
      position: fixed;
      fill: linear-gradient(to right, #ff4013, #0061ff);
      ;
      bottom: 30px;
      right: 30px;
      cursor: pointer;
  }

  /* BactoTop End */